<%- include('./includes/head.ejs') %>

<div class="todo__body">
  <div class="todo__item todo-item">
    <h3 class="todo-item__title">Lorem, ipsum.</h3>
    <p class="todo-item__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatibus.
    </p>
    <div class="todo-item__actions">
      <button class="todo-item__action todo-item__action--edit">Edit</button>
      <button class="todo-item__action todo-item__action--delete">Delete</button>
    </div>
  </div>
</div>
<a href="/task/new" class="todo__create-button">+</a>
  
<%- include('./includes/footer.ejs') %>